
speaker-board/fp-info-cache
speaker-board/_autosave-bluetooth.kicad_sch
speaker-board/_autosave-speaker-board.kicad_sch
speaker-board/bluetooth.kicad_sch-bak
speaker-board/speaker-board.kicad_sch-bak
speaker-board/sym-lib-table
